<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type="css" rel="stylesheet" href="/css/bootstrap.min.css">
  <link type="css" rel="stylesheet" href="/app.css">
</head>
<body>
  <div class="container">
    <h1>Webpack</h1>
    <img src="/images/logo-cart.png" alt="">
    <div class="logo"></div>
    <span>Hello</span>
  </div>
</body>
</html>